#unique-artworks{
    background-image: url("/Img/UniqueArtworks/unique-artworks-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    min-height: 758px;
    contain: content;
    top: 0px;
}

#unique-artworks-title{
    margin-left: 23%;

}
#unique-artworks-title h1{
    font-family: RussoOne;
    font-weight: 200;
    padding-left: 10px;
    padding-right: 10px;
    font-size:60px;
}

#unique-artworks-desc{
    border-image: linear-gradient(to right, #ff0040 0%, #ffffff 100%);
    border-image-slice: 1;
    border-width: 20px;
    border-left: 5px solid;
    padding-left: 21px;
    margin-left: 23.5%;
    max-width: 500px;
}

#unique-artworks-desc p{
    font-family: "Arial";
    font-weight: 550 ;
    font-size: 17px;
}


.nfts{
    position: fixed;
    top:170px;
    right: 23.5%;
}
#nfts-row img{
    padding-left: 10px;
    padding-top:10px;

}

.unique-artworks-buttons{
    margin-left: 23.5%;
    margin-top: 180px;
}

#unique-artworks-bottom{
    padding-top:10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #0051ff48;
    margin-top: 120px;
    height: 70px;
    justify-content: center;

    
}
.columns2{
    display: flex;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
  }

  .custom-btn4{
    display: inline-block;
    contain: content;
    width: 625px;
    height: 50px;
    padding: 12px 17px;
    padding-left: 10px;
    padding-right: 230px;
    color:white;

    border: 2px solid rgba(255, 0, 55, 0.801);
    box-shadow:
    0px 3px 50px 0px rgba(255, 0, 119, 0.459);
    font-family: 'RussoOne';
    font-weight: 400;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    
    background-color: rgba(17, 17, 17, 0.651);
  }

  @media (max-width:1820px){
    .nfts{
        top: 30px;
        position: inherit;
        max-width: 423px;
        border-collapse: separate;
        border-spacing: 20px;
        margin-left:27% ;
    }
    .unique-artworks-buttons{
        margin-left: 28%;
        margin-top: 30px;
    }
    #unique-artworks-bottom{
        padding-top:10px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        background-color: #0051ff48;
        margin-top: 60px;
        height: 70px;
        justify-content: center;
    
        
    }
  }

  @media (max-width:480px){
    #unique-artworks-title{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #unique-artworks-title h1{
        padding-right: 15px;
    }
    .nfts{
        top: 30px;
        position: inherit;
        max-width: 423px;
        border-collapse: separate;
        border-spacing: 20px;
        margin-left:0% ;
    }
    #unique-artworks-desc{
        border-image: linear-gradient(to right, #ff0040 0%, #ffffff 100%);
        border-image-slice: 1;
        border-width: 20px;
        border-left: 5px solid;
        padding-left: 21px;
        margin-left: 5%;
        margin-right: 5%;
        max-width: 500px;
    }
    .unique-artworks-buttons{
        display:block;
        text-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    #nfts-row img{
        padding: 0;
        padding-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    
    }
    #unique-artworks #buton{
        padding-left: 5px;
        display: block;
        margin-left: 24%;
        margin-right: auto;
        padding-bottom: 10px;
    }
  }
  @media (max-width:450px){
    #unique-artworks #buton{
        padding-left: 12px;
    }}
  @media (max-width:430px){
    #unique-artworks #buton{
        padding-left: 20px;
    }}
  @media (max-width:410px){
    #unique-artworks #buton{
        padding-left: 15px;
    }}
  @media (max-width:390px){
    #unique-artworks #buton{
      padding-left: 10px;
  }}

  @media (max-width:370px){
  #unique-artworks #buton{
    padding-left: 5px;
}}
